@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  background: #f2f2f2;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
button {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #3e3e3e;
}

.content {
  max-width: 1170px;
  margin: 0 auto;
}

div.wrapper-content {
  display: flex;
}

img.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.title {
  color: rgb(90, 88, 88);
  font-weight: bold;
  margin-bottom: 2px;
}

small.date {
  color: #999;
  font-weight: bold;
}
